<div class="w3-display-middle">
  <h1 class="w3-jumbo w3-center">SENSEI</h1>
  <hr class="w3-border-grey" style="margin:auto;width:40%">
  <p class="w3-large w3-center">Never forget what you've learned.</p>
</div>
